/* BASE CONFIGURATION */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* VARIABLES CONFIGURATIONS */
/* NAVBAR */
/* FONT */
@font-face {
  font-family: "SoDoSans";
  src: url("../fonts/sodo-sans-8.woff");
}
/* NAVBAR */
header {
  box-shadow: 0 10px 5px -10px rgba(120, 120, 120, 0.5);
  height: 100px;
}

nav {
  display: flex;
  padding-top: 1.25%;
}

.overflowHidden {
  overflow: hidden;
}

.navbarAlignLeft {
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
  padding-left: 7.5%;
  width: 50%;
  justify-content: start;
}
.navbarAlignLeftBorder {
  display: none;
  border: 1px solid #000;
  width: 85%;
  margin: 6% auto;
  opacity: 0.1;
}
.navbarAlignLeftLinkImage {
  margin-right: 2%;
}
.navbarAlignLeft li {
  margin-bottom: 1%;
}
.navbarAlignLeft li > a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #000;
  font-size: 0.9rem;
}
.navbarAlignLeft li > a:hover {
  color: #00756D;
}
.navbarAlignLeftResponsive {
  display: none;
  padding-top: 2%;
}
.navbarAlignLeftResponsive li {
  margin-top: 8%;
  margin-left: 8%;
  list-style-type: none;
  margin-bottom: 1%;
}
.navbarAlignLeftResponsive li > a {
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}
.navbarAlignLeftResponsive li > a:hover {
  color: #00756D;
}
.navbarAlignLeftResponsiveArrow {
  font-size: 2rem;
  position: absolute;
  margin-left: 75%;
}
.navbarAlignLeftResponsiveArrowSub {
  font-size: 2rem;
  position: absolute;
  margin-left: 8%;
}
.navbarAlignLeftResponsiveGrid {
  grid-template-columns: 50% 50%;
  display: grid;
  align-items: center;
}
.navbarAlignLeftResponsiveGrid span::first-letter {
  text-transform: uppercase;
}
.navbarAlignLeftResponsive li::first-letter {
  text-transform: uppercase;
}

.navbarAlignRight {
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  align-items: center;
  margin-right: 13%;
  font-size: 0.9rem;
  width: 50%;
  justify-content: end;
}
.navbarAlignRight li {
  margin-bottom: 1%;
}
.navbarAlignRight li > a {
  text-decoration: none;
  font-weight: bold;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navbarAlignRightFirstElement {
  padding-right: 4%;
}
.navbarAlignRightSecondElement {
  padding-right: 1%;
}
.navbarAlignRightFindIcon {
  display: flex;
  align-items: center;
}
.navbarAlignRightFindIcon > li {
  list-style-type: none;
  color: #000;
}
.navbarAlignRightFindIcon:hover svg, .navbarAlignRightFindIcon:hover span {
  color: #00756D;
}
.navbarAlignRightFindIconFirstElement {
  transform: translateX(-20%);
}
.navbarAlignRightFindIconSecondElement {
  padding-bottom: 6%;
}
.navbarAlignRightFindIconSecondElement > span {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}
.navbarAlignRightResponsive {
  display: none;
}
.navbarAlignRightResponsive li {
  margin-bottom: 1%;
}
.navbarAlignRightResponsive li > a {
  text-decoration: none;
  font-weight: bold;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navbarAlignRightResponsiveFindIcon {
  display: flex;
  align-items: center;
}
.navbarAlignRightResponsiveFindIcon > li {
  list-style-type: none;
  color: #000;
}
.navbarAlignRightResponsiveFindIcon:hover svg, .navbarAlignRightResponsiveFindIcon:hover span {
  color: #00756D;
}

.navbarLogo {
  width: 51px;
  height: 51px;
}
.navbarLogoFind {
  width: 24px;
  height: 24px;
  color: #000;
  overflow: visible;
  fill: currentColor;
}
.navbarButtonSignIn {
  color: #000;
  border: 1px solid #000;
  border-radius: 150px;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
}
.navbarButtonSignIn:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.navbarButtonJoinNow {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 150px;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
}
.navbarButtonJoinNow:hover {
  background-color: rgba(60, 60, 60, 0.9);
}
.navbarHamburger {
  display: none;
}
.navbarSubMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    height: 75px;
  }
  nav {
    padding-top: 2.5%;
  }
  .navbarAlignLeft {
    padding-left: 3%;
  }
  .navbarAlignLeft li {
    display: none;
  }
  .navbarAlignLeftResponsive {
    display: block;
  }
  .navbarAlignLeftBorder {
    display: block;
  }
  .navbarAlignRight li {
    display: none;
  }
  .navbarAlignRightResponsive {
    display: block;
    list-style-type: none;
    margin-left: 8%;
  }
  .navbarAlignRightResponsiveGrid {
    display: flex;
    gap: 5%;
    align-items: center;
  }
  .navbarAlignRightResponsiveNoGrid {
    margin-top: 6%;
  }
  .navbarHamburger {
    display: flex;
    align-items: center;
  }
  .navbarHamburger > li {
    list-style-type: none;
  }
  .navbarHamburger > li > a {
    text-decoration: none;
  }
  .navbarHamburgerIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
  }
  .navbarHamburger svg:hover {
    background-color: rgba(210, 210, 210, 0.3);
    border-radius: 50%;
    padding: 0.3rem;
    transition: all 0.2s ease-out;
  }
  .navbarHamburgerToggle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 16px;
    width: 23px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    transform-origin: center;
    transform: scale(0.4);
    fill: transparent;
  }
  .navbarHamburgerToggle > span:nth-child(1) {
    top: 4px;
    border: 1px solid #000;
    width: 20px;
    position: absolute;
  }
  .navbarHamburgerToggle > span:nth-child(2) {
    top: 14px;
    border: 1px solid #000;
    width: 20px;
    position: absolute;
  }
  .navbarHamburgerToggle > span:nth-child(3) {
    bottom: 4px;
    border: 1px solid #000;
    width: 20px;
    position: absolute;
  }
  .navbarHamburgerToggle span {
    transition: all 0.5s;
    width: 20px;
  }
  .navbarHamburgerToggle:hover {
    transform: scale(1);
    border-radius: 24px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #E9E9E9;
  }
  .navbarLogo {
    width: 40px;
    height: 40px;
  }
  .navbarHamburgerMask {
    position: fixed;
    width: 80%;
    top: 75px;
    bottom: 0;
    right: -80%;
    background-color: whitesmoke;
    display: block;
    opacity: 0;
    transition: all 0.5s;
  }
  .navbarHamburgerMask.open {
    right: 0;
    opacity: 1;
  }
  .navbarHamburgerFilter.open {
    opacity: 0.4;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .open .navbarHamburgerToggle > span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .navbarHamburgerToggle > span:nth-child(2) {
    opacity: 0;
  }
  .open .navbarHamburgerToggle > span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  .navbarSubMenu {
    position: fixed;
    width: 80%;
    top: 75px;
    bottom: 0;
    right: -80%;
    background-color: whitesmoke;
    display: block;
    opacity: 0;
    transition: all 0.5s;
  }
  .navbarSubMenu.open {
    right: 0;
    opacity: 1;
  }
  .navbarSubMenuHeader {
    text-decoration: none;
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 5%;
    background-color: #f9f9f9;
    cursor: pointer;
    display: grid;
    align-items: center;
  }
  .navbarSubMenuHeader span::first-letter {
    text-transform: uppercase;
  }
}
/* SECTION ADVERTISE */
.mainAdvertise {
  height: auto;
}
.mainAdvertiseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainAdvertiseContainer > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  background-color: #d4e9e2;
  max-width: 1475px;
}
.mainAdvertiseContainer > div:nth-child(4n), .mainAdvertiseContainer > div:nth-child(4n-1) {
  background-color: #006241;
}
.mainAdvertiseContainer > div > div {
  flex: 50%;
}
.mainAdvertiseContainer > div > div > img {
  width: 100%;
  height: 100%;
}
.mainAdvertiseContainer > div:nth-child(2n) {
  flex-direction: row-reverse;
}
.mainAdvertiseButtonPlay {
  border: 1px solid #000;
  border-radius: 150px;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  color: #000;
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.mainAdvertiseButtonPlay:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.mainAdvertiseButtonPlay > li::first-letter {
  text-transform: uppercase;
}
.mainAdvertiseButtonOrder {
  border: 1px solid #fff;
  border-radius: 150px;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  color: #fff;
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.mainAdvertiseButtonOrder:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.mainAdvertiseButtonOrder > li::first-letter {
  text-transform: uppercase;
}
.mainAdvertiseButtonLink {
  border: 1px solid #000;
  border-radius: 150px;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  color: #000;
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.mainAdvertiseButtonLink:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.mainAdvertiseButtonLink > li::first-letter {
  text-transform: uppercase;
}
.mainAdvertiseHomepage {
  margin-top: 20%;
  text-align: center;
}
.mainAdvertiseHomepage > p {
  font-size: 1.5vw;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 5%;
  line-height: 1.5;
  color: #1e3932;
}
.mainAdvertiseHomepage > ul {
  list-style-type: none;
  margin-top: 8%;
}
.mainAdvertiseHomepage > ul > li::first-letter {
  text-transform: uppercase;
}
.mainAdvertiseHomepageTitle {
  font-size: 3vw;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.3rem;
  color: #1e3932;
}
.mainAdvertiseHomepageTitle::first-letter, .mainAdvertiseHomepageTitle div::first-letter {
  text-transform: uppercase;
}
.mainAdvertiseRewards {
  margin-top: 4%;
  margin-left: 8%;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.mainAdvertiseRewards > h3 {
  font-size: 1.4vw;
}
.mainAdvertiseRewards > ul {
  margin-top: 5%;
}
.mainAdvertiseRewards > ul > li {
  margin-bottom: 2%;
  font-size: 1.1vw;
}
.mainAdvertiseRewards > ul > p {
  margin-bottom: 5%;
  line-height: 1.5;
  font-size: 1.1vw;
}
.mainAdvertiseRewardsButton {
  list-style-type: none;
}
.mainAdvertisePerfectly {
  margin-top: 20%;
  text-align: center;
}
.mainAdvertisePerfectlyTitle {
  font-size: 3vw;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.3rem;
  color: #fff;
}
.mainAdvertisePerfectlyTitle::first-letter, .mainAdvertisePerfectlyTitle div::first-letter {
  text-transform: uppercase;
}
.mainAdvertisePerfectly > p {
  font-size: 1.5vw;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 5%;
  line-height: 1.5;
  color: #fff;
}
.mainAdvertisePerfectly > ul {
  list-style-type: none;
  margin-top: 8%;
}
.mainAdvertisePerfectly > ul > li::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .mainAdvertise {
    padding: 6% 0;
  }
  .mainAdvertiseContainer > div {
    margin-bottom: 4%;
  }
  .mainAdvertiseContainer > div > div {
    flex: 100%;
  }
  .mainAdvertiseHomepage {
    margin-top: 10%;
  }
  .mainAdvertiseHomepage > p {
    font-size: 1.5rem;
  }
  .mainAdvertiseHomepage > ul {
    margin-bottom: 5%;
  }
  .mainAdvertiseHomepageTitle {
    font-size: 3rem;
  }
  .mainAdvertiseRewards {
    margin-top: 10%;
  }
  .mainAdvertiseRewards > ul {
    margin-bottom: 5%;
  }
  .mainAdvertiseRewards > ul > p {
    font-size: 1.1rem;
  }
  .mainAdvertiseRewards > ul > li {
    font-size: 1.1rem;
  }
  .mainAdvertiseRewards > h3 {
    font-size: 1.4rem;
  }
  .mainAdvertiseRewardsTitle {
    font-size: 3rem;
  }
  .mainAdvertisePerfectly {
    margin-top: 10%;
  }
  .mainAdvertisePerfectly > p {
    font-size: 1.5rem;
  }
  .mainAdvertisePerfectlyTitle {
    font-size: 3rem;
  }
  .mainAdvertisePerfectly > ul {
    margin-bottom: 5%;
  }
}
/* SECTION RULES */
.rulesPackage {
  text-align: center;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.rulesPackageLink {
  text-decoration: underline;
  color: #000;
}
.rulesPackageIntroduction {
  margin-top: 1%;
}
.rulesPackageExclude {
  margin-top: 5%;
  font-size: 0.9rem;
}
.rulesPackageEntrance {
  margin-top: 2%;
}
.rulesBorder {
  border: 1px solid #000;
  margin: 2% auto 0.5%;
  opacity: 0.1;
}

/* SECTION INFORMATIONS */
.informationsGrid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 1000px;
}
.informationsGrid > div {
  padding: 5%;
}
.informationsGrid > div > h3 {
  padding-bottom: 18%;
  font-weight: 500;
}
.informationsGrid > div ul > li {
  padding-bottom: 15%;
  list-style-type: none;
}
.informationsGrid > div a {
  text-decoration: none;
  color: grey;
}
.informationsGrid > div a:hover {
  color: #000;
}
.informationsBorder {
  border: 1px solid #000;
  margin: 0.5% auto 2%;
  opacity: 0.1;
  width: 80%;
}
.informationsResponsive {
  display: none;
}

@media screen and (max-width: 768px) {
  .informationsGrid {
    display: none;
  }
  .informationsBorder {
    width: 95%;
  }
  .informationsResponsive {
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    display: block;
    margin: 0 5%;
  }
  .informationsResponsive > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0 3%;
    cursor: pointer;
  }
  .informationsResponsive > div > div > svg {
    transition: all 0.4s;
  }
  .informationsResponsive > div > div > svg.rotate {
    transform: rotate(180deg);
  }
  .informationsResponsive > div:nth-child(2n) {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  .informationsResponsive > div:nth-child(2n).active {
    max-height: 330px;
  }
  .informationsResponsive > div:nth-child(2n) > ul > li {
    padding-top: 40%;
  }
  .informationsResponsive > div:nth-child(2n) > ul > li > a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
  }
}
/* SECTION PLATFORMS */
.platforms {
  padding-left: 10%;
}
.platformsIcon {
  display: flex;
  gap: 0.75%;
  margin: 2% 0 1% 0;
}
.platformsIcon div > a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-out;
}
.platformsLinkContainer > ul {
  display: flex;
  width: 100%;
}
.platformsLinkContainer > ul > li {
  list-style-type: none;
  padding-right: 2%;
}
.platformsLinkContainer > ul > li > a {
  text-decoration: none;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
}
.platformsLinkContainer > ul > li::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .platforms {
    padding-left: 5%;
  }
  .platformsLinkContainer > ul {
    display: block;
  }
  .platformsLinkContainer > ul > li:nth-child(2n) {
    visibility: hidden;
  }
  .platformsIcon > div {
    padding-right: 3%;
  }
}
.sb-icon-hover {
  transition: all 0.2s ease-out;
  transform-origin: center;
  transform: scale(0.4);
  fill: transparent;
  opacity: 0.1;
}

/* FOOTER COPYRIGHT */
footer {
  padding-left: 10%;
  height: 50px;
  margin-top: 1.5%;
  color: rgba(0, 0, 0, 0.58);
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 3%;
    padding-left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
